body{
    margin: 0;
    padding: 0;
    background: #0c002b;
    color: #FFFFFF;
    font-family: 'Arizonia';
}
.wrapper h1{
    text-align: center;
    font-size: 40px;
    
   
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img, .box{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    background: #FFFFFF;

    overflow: hidden;
}

.single-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.single-img:hover img{
  transform: scale(1.2);
}
.single-img .details{
    position: absolute;
    top: 10px;
    left:10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    transform: scaleY(0);
    transition: transform .5s;
}
.single-img .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.single-img .details .content h2{
    font-size: 30px;
    color: #ff0;
    font-family: Arial, Helvetica, sans-serif;
}

.single-img:hover .details{
    transform: scaleY(1);
}

button{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}


.spin{
    text-align: center;
    position: relative;
    font-family: 'Arial';
    padding: 36px;
}

a{
    position: absolute;
    transform: translate(-50%,-50%);
    color: #1670f0;
    padding: 15px 50px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
    font-weight: 600;
    background: #220372;
  }
  a::before{
    content: "";
    position: absolute;
    top:2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
  }
  a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
  
    animation: animate1 2s linear infinite;
  }
  
  @keyframes animate1{
  
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
    
  }
  
  
  a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
  }
  
  @keyframes animate2{
  
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
    
  }
  
  a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
  }
  @keyframes animate3{
  
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
    
  }
  
  a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
  }
  
  @keyframes animate4{
  
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
    
  }

  .spinImage {
    animation-name: fade, shrink;
    animation-duration: 0.5s, 0.53s;
    animation-direction: alternate, alternate;
  }
  
  @keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.normalImage {
    animation-name: fade, shrink;
    animation-duration: 0.5s, 0.53s;
    animation-direction: alternate, alternate;
  }
  
  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}