body{
    margin: 0;
    padding: 0;
    background: #262626;
}
.wrapper h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Arizonia';
    color: #FFFFFF;
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img, .box{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    background: #FFFFFF;

    overflow: hidden;
}

.single-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.single-img:hover img{
  transform: scale(1.1);
}
/* 
.single-img, .box .imgBox{
    position: relative;
}

.single-img, .box .imgBox img{
    max-width: 100%;
} */